{% extends 'base.html' %}
{% block title %}{{ post.title }} – NRI Parent Service{% endblock %}
{% block content %}
<div class="static-page">
  <div class="blog-post-header">
    {% set fallback_covers = ['l4.jpg','l5.jpg','l6.jpg','l7.jpg','l8.jpg','l9.jpg'] %}
    <img src="{{ post.cover_image_url or url_for('static', filename='img/landing/' ~ fallback_covers[post.id % 6]) }}" alt="{{ post.title }}" class="blog-cover"/>
    <h1>{{ post.title }}</h1>
    <div class="blog-meta">
      <span><i class="fa-solid fa-user"></i> {{ post.author.username }}</span>
      <span><i class="fa-solid fa-calendar"></i> {{ post.published_at.strftime('%B %d, %Y') if post.published_at else '' }}</span>
    </div>
  </div>
  <div class="static-content blog-post-content">
    {{ post.content | safe }}
  </div>
  <div class="blog-back">
    <a href="{{ url_for('blog.blog_list') }}" class="btn btn-outline-coral">← Back to Blog</a>
  </div>
</div>
{% endblock %}
